<?xml version="1.0" encoding="UTF-8"?>
<!--
Web Wiz URL Rewrite release 1.10

****************************************************************************************
**  Copyright Notice    
**
**  Web Wiz Forums(TM)
**  http://www.webwizforums.com
**                                                              
**  Copyright (C)2009-2016 Web Wiz Ltd. All Rights Reserved.   
**  
**  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS UNDER LICENSE FROM WEB WIZ LTD.
**  
**  IF YOU DO NOT AGREE TO THE LICENSE AGREEMENT THEN WEB WIZ LTD. IS UNWILLING TO LICENSE 
**  THE SOFTWARE TO YOU, AND YOU SHOULD DESTROY ALL COPIES YOU HOLD OF 'WEB WIZ' SOFTWARE
**  AND DERIVATIVE WORKS IMMEDIATELY.
**  
**  If you have not received a copy of the license with this work then a copy of the latest
**  license contract can be found at:-
**
**  https://www.webwiz.net/license
**
**  For more information about this software and for licensing information please contact
**  'Web Wiz' at the address and website below:-
**
**  Web Wiz Ltd, Unit 18, The Glenmore Centre, Fancy Road, Poole, Dorset, BH12 4FB, England
**  https://www.webwiz.net
**
**  Removal or modification of this copyright notice will violate the license contract.
**
****************************************************************************************
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            	
            	<!--Block Content Scrapers -->
            	<rule name="BlockContentScrapers" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="008|magpie-crawler|nameprotect|AhrefsBot" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
            	
            	<!-- forum_posts.asp -->
            	<rule name="forum_posts 1">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=([0-9]+)&amp;KW=(.*)&amp;PID=([0-9]+)&amp;title=(.*)#" ignoreCase="true" />
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=([0-9]+)&amp;KW=(.*)&amp;PID=([0-9]+)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:5}_topic{C:2}_post{C:4}.html?KW={C:3}#{C:4}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 2" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)_post(.*)\.html(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="^(.*)KW=(.*)#" ignoreCase="true" />
                        <add input="{QUERY_STRING}" pattern="^(.*)KW=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}{R:3}&amp;PID={R:4}&amp;title={R:1}&amp;KW={C:2}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 3">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=([0-9]+)&amp;KW=(.*)&amp;PN=(.*)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:5}_topic{C:2}_page{C:4}.html?KW={C:3}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 4" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)_page(.*)\.html(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)KW=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}{R:3}&amp;PN={R:4}&amp;title={R:1}&amp;KW={C:2}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 5">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=([0-9]+)&amp;KW=(.*)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:4}_topic{C:2}.html?KW={C:3}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 6" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)\.html(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)KW=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}&amp;title={R:1}&amp;KW={C:2}" appendQueryString="false" />
                </rule>
            	
           
            	<rule name="forum_posts 7">
                    <match url="^forum_posts.asp(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PN=(.*)&amp;title=(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{C:4}_topic{C:2}_page{C:3}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_posts 8" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)_page(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}{R:3}&amp;PN={R:4}&amp;title={R:1}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 9">
                    <match url="^forum_posts.asp(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)&amp;SID=(.*)&amp;title=(.*)#" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)&amp;SID=(.*)&amp;title=(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{C:5}_topic{C:2}_post{C:3}_SID{C:4}.html#{C:3}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 10" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)_post(.*)_SID(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}{R:3}&amp;PID={R:4}&amp;title={R:1}&amp;SID={R:5}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 11">
                    <match url="^forum_posts.asp(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)&amp;title=(.*)#" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)&amp;title=(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{C:4}_topic{C:2}_post{C:3}.html#{C:3}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 12" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)_post(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}{R:3}&amp;PID={R:4}&amp;title={R:1}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 13">
                    <match url="^forum_posts.asp(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)&amp;SID=(.*)#" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)&amp;SID=(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="topic{C:2}_post{C:3}_SID{C:4}.html&amp;#{C:3}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 14" stopProcessing="true">
                    <match url="^topic([0-9]+)(.*)_post(.*)_SID(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:1}{R:2}&amp;PID={R:3}&amp;SID={R:4}" appendQueryString="false" />
                </rule>
            	

                
                <rule name="forum_posts 15">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)#" ignoreCase="true" />
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PID=([0-9]+)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="topic{C:2}_post{C:3}.html#{C:3}" appendQueryString="false" />
                </rule>
                <rule name="forum_posts 16" stopProcessing="true">
                    <match url="^topic([0-9]+)(.*)_post(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:1}{R:2}&amp;PID={R:3}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 17">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:3}_topic{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_posts 18" stopProcessing="true">
                    <match url="^(.*)_topic([0-9]+)(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:2}&amp;title={R:1}{R:3}" appendQueryString="false" />
                </rule>
                
                <rule name="forum_posts 19">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)&amp;PN=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="topic{C:2}_page{C:3}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_posts 20" stopProcessing="true">
                    <match url="^topic([0-9]+)(.*)_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:1}{R:2}&amp;PN={R:3}" appendQueryString="false" />
                </rule>
           
                <rule name="forum_posts 21">
                    <match url="^forum_posts\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)TID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="topic{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_posts 22" stopProcessing="true">
                    <match url="^topic([0-9]+)(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_posts.asp?TID={R:1}{R:2}" appendQueryString="false" />
                </rule>
                
                
                <!-- forum_topics.asp -->
                <rule name="forum_topics 1">
                    <match url="^forum_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)FID=(.*)&amp;PN=(.*)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:4}_forum{C:2}_page{C:3}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_topics 2" stopProcessing="true">
                    <match url="^(.*)_forum([0-9]+)(.*)_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_topics.asp?FID={R:2}{R:3}&amp;PN={R:4}&amp;title={R:1}" appendQueryString="false" />
                </rule>
                <rule name="forum_topics 3">
                    <match url="^forum_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)FID=(.*)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:3}_forum{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_topics 4" stopProcessing="true">
                    <match url="^(.*)_forum([0-9]+)(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_topics.asp?FID={R:2}{R:3}&amp;title={R:1}" appendQueryString="false" />
                </rule>
                <rule name="forum_topics 5">
                    <match url="^forum_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)FID=(.*)&amp;PN=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="forum{C:2}_page{C:3}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_topics 6" stopProcessing="true">
                    <match url="^forum([0-9]+)(.*)_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_topics.asp?FID={R:1}{R:2}&amp;PN={R:3}&amp;title={R:1}" appendQueryString="false" />
                </rule>
                <rule name="forum_topics 7">
                    <match url="^forum_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)FID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="forum{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="forum_topics 8" stopProcessing="true">
                    <match url="^forum([0-9]+)(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="forum_topics.asp?FID={R:1}{R:2}" appendQueryString="false" />
                </rule>
                
                
                
                <!-- default.asp -->
                <rule name="default 1">
                    <match url="^default\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)C=(.*)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="{C:3}_forums_cat{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="default 2" stopProcessing="true">
                    <match url="^(.*)_forums_cat([0-9]+)(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="default.asp?C={R:2}&amp;title={R:1}{R:3}" appendQueryString="false" />
                </rule>
                
                <rule name="default 3">
                    <match url="^default\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)SID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="forums.html?SID={C:2}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="default 4" stopProcessing="true">
                    <match url="^forums\.html(.*)" ignoreCase="true" />
                    <action type="Rewrite" url="default.asp{R:1}" />
                </rule>
                
                <rule name="default 5">
                    <match url="^default\.asp(.*)" ignoreCase="true" />
                    <action type="Redirect" url="forums.html" redirectType="Permanent" />
                </rule>
                <rule name="default 6" stopProcessing="true">
                    <match url="^forums\.html" ignoreCase="true" />
                    <action type="Rewrite" url="default.asp" />
                </rule>
                
                
                
                <!-- active_users.asp -->
                <rule name="active_users 1">
                    <match url="^active_users\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)SID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="active_forum_members.html?SID={C:2}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="active_users 2" stopProcessing="true">
                    <match url="^active_forum_members\.html(.*)" ignoreCase="true" />
                    <action type="Rewrite" url="active_users.asp{R:1}" />
                </rule>
                
                <rule name="active_users 3">
                    <match url="^active_users\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="active_forum_members.html{C:1}" redirectType="Permanent" />
                </rule>
                <rule name="active_users 4" stopProcessing="true">
                    <match url="^active_forum_members\.html(.*)" ignoreCase="true" />
                    <action type="Rewrite" url="active_users.asp{R:1}" />
                </rule>
                
                
                
                <!-- help.asp -->
                <rule name="help 1">
                    <match url="^help\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)SID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="forum_FAQ.html?SID={C:2}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="help 2" stopProcessing="true">
                    <match url="^forum_FAQ\.html(.*)" ignoreCase="true" />
                    <action type="Rewrite" url="help.asp{R:1}" />
                </rule>
                
                <rule name="help 3">
                    <match url="^help\.asp" ignoreCase="true" />
                    <action type="Redirect" url="forum_FAQ.html" redirectType="Permanent" />
                </rule>
                <rule name="help 4">
                    <match url="^forum_FAQ\.html" ignoreCase="true" />
                    <action type="Rewrite" url="help.asp" />
                </rule>
                
        
        
        
        	<!-- active_topics.asp - unaswered topics -->
        	<rule name="unaswered topics 1">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^UA=Y&amp;PN=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="unawsered_forum_topics_page{C:1}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="unaswered topics 2" stopProcessing="true">
                    <match url="^unawsered_forum_topics_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp?UA=Y&amp;PN={R:1}" appendQueryString="false" />
                </rule>
    
        	<rule name="unaswered topics 3">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^UA=Y(.*)&amp;PN=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="unawsered_forum_topics_{C:1}_page{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="unaswered topics 4" stopProcessing="true">
                    <match url="^unawsered_forum_topics_(.*)_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp?UA=Y{R:1}&amp;PN={R:2}" appendQueryString="false" />
                </rule>

                <rule name="unaswered topics 5">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^UA=Y(.*)AT=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="unawsered_forum_topics_date-range{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="unaswered topics 6" stopProcessing="true">
                    <match url="^unawsered_forum_topics_date-range(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp?UA=Y&amp;AT={R:1}" appendQueryString="false" />
                </rule>
                
                <rule name="unaswered topics 7">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^UA=Y(.*)&amp;SID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="unawsered_forum_topics.html" appendQueryString="true" redirectType="Permanent" />
                </rule>:
                <rule name="unaswered topics 8" stopProcessing="true">
                    <match url="^unawsered_forum_topics_(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp" />
                </rule>
                
                <rule name="unaswered topics 9">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^UA=Y(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="unawsered_forum_topics.html" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="unaswered topics 10" stopProcessing="true">
                    <match url="^unawsered_forum_topics\.html(.*)" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp" />
                </rule>
                
                
               
                
                
		<!-- active_topics.asp - new topics -->
                <rule name="new topics 1">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)&amp;PN=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="new_forum_topics_{C:1}_page{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="new topics 2" stopProcessing="true">
                    <match url="^new_forum_topics_(.*)_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp?{R:1}&amp;PN={R:2}" appendQueryString="false" />
                </rule>
                
                <rule name="new topics 3">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)PN=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="new_forum_topics_page{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="new topics 4" stopProcessing="true">
                    <match url="^new_forum_topics_page(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp?PN={R:1}" appendQueryString="false" />
                </rule>
                
                <rule name="new topics 5">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)AT=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="new_forum_topics_date-range{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="new topics 6" stopProcessing="true">
                    <match url="^new_forum_topics_date-range(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp?AT={R:1}" appendQueryString="false" />
                </rule>
                
                 <rule name="new topics 7">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)SID=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="new_forum_topics.html" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="new topics 8" stopProcessing="true">
                    <match url="^new_forum_topics_(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp" />
                </rule>
                
                <rule name="new topics 9">
                    <match url="^active_topics\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="new_forum_topics.html" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="new topics 10" stopProcessing="true">
                    <match url="^new_forum_topics\.html" ignoreCase="true" />
                    <action type="Rewrite" url="active_topics.asp" />
                </rule>
                
                
               
             
                
                <!-- calendar.asp -->
                <rule name="calendar 1">
                    <match url="^calendar\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)M=(.*)&amp;Y=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="calendar_month_{C:2}_year_{C:3}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="calendar 2" stopProcessing="true">
                    <match url="^calendar_month_(.*)_year_(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="calendar.asp?M={R:1}&amp;Y={R:2}" appendQueryString="false" />
                </rule>
                
                <rule name="calendar 3">
                    <match url="^calendar_week\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)M=(.*)&amp;Y=(.*)&amp;W=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="calendar_week_{C:4}_month_{C:2}_year_{C:3}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="calendar 4" stopProcessing="true">
                    <match url="^calendar_week_(.*)_month_(.*)_year_(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="calendar_week.asp?M={R:2}&amp;Y={R:3}&amp;W={R:1}" appendQueryString="false" />
                </rule>
                
                <rule name="calendar 5">
                    <match url="^calendar_year\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)Y=(.*)&amp;DB=(.*)&amp;(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="calendar_{C:2}_{C:4}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="calendar 6" stopProcessing="true">
                    <match url="^calendar_(.*)_(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="calendar_year.asp?Y={R:1}&amp;{R:2}" appendQueryString="false" />
                </rule>
                
                <rule name="calendar 7">
                    <match url="^calendar_year\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)Y=(.*)&amp;DB=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="calendar_{C:2}.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="calendar 8" stopProcessing="true">
                    <match url="^calendar_(.*)\.html" ignoreCase="true" />
                    <action type="Rewrite" url="calendar_year.asp?Y={R:1}" appendQueryString="false" />
                </rule>
                
                
                <!-- RSS -->
                <rule name="RSS 1">
                    <match url="^RSS_calendar_feed\.asp" ignoreCase="true" />
                    <action type="Redirect" url="RSS_calendar_feed.xml" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RSS 2" stopProcessing="true">
                    <match url="^RSS_calendar_feed\.xml" ignoreCase="true" />
                    <action type="Rewrite" url="RSS_calendar_feed.asp" />
                </rule>
                
                <rule name="RSS 3">
                    <match url="^RSS_post_feed\.asp" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)?TID=([0-9]+)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="RSS_{C:3}_topic{C:2}.xml" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RSS 4" stopProcessing="true">
                    <match url="^RSS_(.*)_topic(.*)\.xml" ignoreCase="true" />
                    <action type="Rewrite" url="RSS_post_feed.asp?TID={R:2}" appendQueryString="false" />
                </rule>
                
                <rule name="RSS 5">
                    <match url="^RSS_topic_feed\.asp" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)?FID=([0-9]+)&amp;title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="RSS_{C:3}_forum{C:2}.xml" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RSS 6" stopProcessing="true">
                    <match url="^RSS_(.*)_forum(.*)\.xml" ignoreCase="true" />
                    <action type="Rewrite" url="RSS_topic_feed.asp?FID={R:2}" appendQueryString="false" />
                </rule>
                
                <rule name="RSS 7">
                    <match url="^RSS_topic_feed\.asp(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)?title=(.*)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="RSS_{C:2}.xml" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RSS 8" stopProcessing="true">
                    <match url="^RSS_(.*)\.xml" ignoreCase="true" />
                    <action type="Rewrite" url="RSS_topic_feed.asp" />
                </rule>

 	 </rules>
 	 
 	 <!-- Security -->
 	 <outboundRules>
 	    <rule name="changeServerHeader">
                    <match serverVariable="RESPONSE_Server" pattern=".*" />
                    <action type="Rewrite" value="" />
            </rule>
            <rule name="Add HttpOnly" preCondition="No HttpOnly">
                <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
                <action type="Rewrite" value="{R:0}; HttpOnly" />
                <conditions>
                </conditions>
            </rule>
            <preConditions>
                <preCondition name="No HttpOnly">
                    <add input="{RESPONSE_Set_Cookie}" pattern="." />
                    <add input="{RESPONSE_Set_Cookie}" pattern="; HttpOnly" negate="true" />
                </preCondition>
            </preConditions>
         </outboundRules>
 	 
        </rewrite>
        
        <!-- Caching images -->
        <caching>
            <profiles>
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>

    </system.webServer>
</configuration>
